<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <parameter name="username" value="sowjanya@tekarch.com"></parameter>
    <parameter name="password" value="Sudeep@17!"></parameter>
    <listeners>
        <listener class-name="com.SalesForce.Utilities.ListenerUtility"/>
    </listeners>
    <test name="Regression Test">
        <classes>
            <class name="com.SalesForce.automationtests.AutomationScripts"/>
        </classes>
    </test>
</suite>
